{% extends "layout.html" %} {% block body %}
<style>
  #activities {
    background-color: #28a745 !important;
    color: yellow;
  }
</style>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">OhmConnect</h5>
            <h6 class="card-subtitle mb-2 text-muted">Get Paid to Save Energy</h6>
            <p class="card-text">OhmConnect is doing an excellent job getting Californians aware of their energy use and saving them money in the process.</p>
            <a href="https://www.ohmconnect.com/" class="card-link">OhmConnect website</a>
            <a href="https://www.npr.org/sections/alltechconsidered/2017/03/07/518175670/energy-savings-can-be-fun-but-no-need-to-turn-off-all-the-lights" class="card-link">NPR article</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PSE->PUD</h5>
            <h6 class="card-subtitle mb-2 text-muted">Eastside Seattle - Towards 100% Renewable</h6>
            <p class="card-text">PSE is owned by Australia's largest investment bank, whose board members make decisions based on maximizing their profits, not on sustaining our environment. Our goal is to take PSE—and our environment—out of the hands of this board and make
              it subject to the democratic control of the people.</p>
            <a href="https://www.facebook.com/events/167574840530699/" class="btn btn-success btn-sm play-button" role="button">PSE->PUD</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>&copy; 2018 HappyDay.</p>
</footer>
{% endblock %}
