{% extends "layout.html" %} {% block body %}
<header>
  <div class="container pt-3">
    <div class="row">
      <div class="pl-5 col">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner text-center ">
            <div class="carousel-item mb-5 active">
              <img class="img-fluid" src="static/img/login-current.png" alt="Biggest Greenie Login">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Login</h5>
                <p class="text-dark">or sign up</p>
              </div>
            </div>
            <div class="carousel-item mb-5">
              <img src="static/img/breaker_box-current.png" alt="Biggest Greenie Breaker box">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">We'll install</h5>
                <p class="text-dark">an Energy Monitor</p>
              </div>
            </div>
            <div class="carousel-item mb-5">
              <img src="static/img/plot-current.png" alt="Biggest Greenie Plot">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">You start</h5>
                <p class="text-dark">monitoring your Energy Use</p>
              </div>
            </div>
            <div class="carousel-item mb-5">
              <img src="static/img/friends-current.png" alt="Biggest Greenie Neighbors">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Neighbors</h5>
                <p class="text-dark">join in</p>
              </div>
            </div>
            <div class="carousel-item mb-5">
              <img src="static/img/Leaderboard-current.png" alt="Biggest Greenie Leaderboard">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">Play and Win</h5>
                <p class="text-dark">by Using Less Energy</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" data-slide="prev">
                    <i class="fas fa-chevron-left fa-lg" style="color:rgb(128,128,128)"></i>
                </a>
          <a class="carousel-control-next" href="#carouselExampleControls" data-slide="next">
                    <i class="fas fa-chevron-right fa-lg" style="color:rgb(128,128,128)"></i>
                </a>
        </div>
      </div>
    </div>
  </div>

</header>
<main>
  <div class="row">
    <div class="col mt-5">
      <div class="card">
        <h2 class="card-header text-success">Become The Biggest Greenie</h2>
        <div class="card-body">
          <p class="card-text lead">Win the title of <span class="text-success">The Biggest Greenie</span> as you Reduce your Energy Consumption.</p>
          <div class="form-row text-center">
            <div class="col-12">
              <a href="#" class="play-button btn btn-success btn-lg text-center">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
<!-- signup form -->
<hr>
<div class="row py-4 text-muted">
  <div class="ml-4 mr-auto col-md col-xl-5">
    <p><strong>About HappyDay</strong></p>
    <p>HappyDay builds Renewable Energy Community Experiences.</p>
  </div>
  <div class="mr-4 col-md col-xl-5 ml-auto">
    <p><strong>Stay up-to-date on HappyDay Experiences</strong></p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
          <button class="btn btn-success" type="button">Sign up</button>
        </span>
    </div>
  </div>
</div>
<hr>
<!-- /signup form -->
<footer>
  <p>&copy; 2018 HappyDay.</p>
</footer>

<!--  changed the chevrons (next/prev) on the carousel to font awesome icons
        so I could change the color of the chevrons.  -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


{% endblock %}
