{% extends "layout.html" %} {% block body %}
<style>
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
  }
</style>
<header>
  <!--  jumbotron -->
  <div class="jumbotron">
    <h1 class="display-4">Play The Biggest Greenie</h1>
    <img class='img-fluid pt-5' src="static/img/BiggestGreenie_jumbotron.png" alt="Circle arrows describing The Biggest Greenie.">
    <p class="my-4">
      <a href="#" class="play-button btn btn-success btn-lg">Get Started</a>
    </p>
  </div>
  <!--  /jumbotron -->
</header>
<main>

</main>
</div>

<div class="row py-4 text-muted">
  <div class="ml-4 mr-auto col-md col-xl-5">
    <p><strong>About HappyDay</strong></p>
    <p>HappyDay builds Renewable Energy Community Experiences.</p>
  </div>
  <div class="mr-4 col-md col-xl-5 ml-auto">
    <p><strong>Stay up-to-date on HappyDay Experiences</strong></p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
          <button class="btn btn-success" type="button">Sign up</button>
        </span>
    </div>
  </div>
</div>
<hr>
<!-- /signup form -->
<footer>
  <p>&copy; 2018 HappyDay.</p>
</footer>

<!--  changed the chevrons (next/prev) on the carousel to font awesome icons
        so I could change the color of the chevrons.  -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


{% endblock %}
